<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <title>ManDin Studios</title>
  </head>

  <body>
    <!---------------      Navbar Section start             -->

    <div class="navcontainer">
      <div class="navbody">
        <div class="logomain">
          <a href="/"
            ><img
              class="logo"
              src="https://mds-new.s3.ap-south-1.amazonaws.com/logo-01.png"
          /></a>
        </div>
        <div class="navright" :class="{ 'active': mobileMenuOpen }">
          <ul class="navitems">
            <li><a class="active" href="/home.html">WHO WE ARE</a></li>
            <li><a href="/components/technologies.html">WHAT WE DO</a></li>
            <li><a href="/components/services.html">WHY US</a></li>
            <li><a href="/components/team.html">TEAM</a></li>
          </ul>
          <button
            class="navbutton"
            onclick="location.href='/components/contact.html';"
          >
            CONTACT US
          </button>
        </div>
      </div>
    </div>

    <!---------------      Navbar Section ends             -->

    <!---------------      Hero Section starts             -->
    <section class="hero-container">
      <div class="hero-bodymain">
        <div class="hero-body">
          <p class="hero-tagline">We make digital (and simple)...</p>
          <h1 class="hero-title">
            <h1 class="hero-title-line">BRANDING.</h1>
            <h1 class="hero-title-line">PRODUCTS.</h1>
            <h1 class="hero-title-line">EXPERIENCES.</h1>
          </h1>
          <p class="hero-bottomline">
            Let's work together
            <span
              ><a class="arrow1" href="/components/contact.html"
                ><i class="fa-solid fa-arrow-up arrow"></i></a
            ></span>
          </p>
          <!-- <button class="why-button">Why MDS?</button> -->
        </div>
      </div>
      <div class="mobilehero">
        <div class="hero-img"></div>
      </div>
    </section>

    <div class="visioncontainer">
      <div class="visionBody">
        <div class="visionimage">
          <div class="visionimg"></div>
        </div>
        <div class="visionmaincontent">
          <div class="visioncontent">
            <div class="visionheader">
              <h2>Where ideas meet expertise</h2>
              <h1>YOUR VISION OUR BLUEPRINT</h1>
              <!-- <h1>OUR BLUEPRINT</h1> -->
            </div>
            <div class="list">
              <ul class="details-list-body">
                <li>
                  <strong class="strong">Client-Centered Vision:</strong> We
                  take your ideas and goals as the foundation of every project.
                </li>
                <li>
                  <strong class="strong">Strategic Blueprint:</strong> We craft
                  a detailed, tailored plan to bring your vision to life.
                </li>
                <li>
                  <strong class="strong">Collaboration:</strong> Working closely
                  with you to ensure alignment at every step.
                </li>
                <li>
                  <strong class="strong">Customized Solutions:</strong>
                  Designing unique strategies that meet your specific needs.
                </li>
                <li>
                  <strong class="strong">Execution Excellence:</strong> Turning
                  your vision into reality with precision and innovation.
                </li>
                <li>
                  <strong class="strong">Success-Oriented Approach:</strong>
                  Focusing on delivering impactful results that match your
                  aspirations.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="details2container">
      <div class="details2body">
        <div class="details2header">
          <h2>Building Brands into</h2>
          <h1>BOLD DIGITAL</h1>
          <h1>EXPERIENCES</h1>
          <div class="list">
            <ul class="details-list-body">
              <li>
                <strong class="strong">Brand Transformation:</strong> Elevating
                traditional brands into cutting-edge digital platforms.
              </li>
              <li>
                <strong class="strong">Immersive Experiences:</strong> Creating
                engaging, interactive environments that draw users in.
              </li>
              <li>
                <strong class="strong">Bold Creativity:</strong> Using
                innovative designs to make a strong, memorable impression.
              </li>
              <li>
                <strong class="strong">User Engagement:</strong> Building
                digital experiences that captivate and connect with audiences.
              </li>
              <li>
                <strong class="strong">Digital Innovation:</strong> Leveraging
                the latest technologies to craft seamless, modern experiences.
              </li>
              <li>
                <strong class="strong">End-to-End Solutions:</strong> Offering
                comprehensive digital strategies that enhance brand presence.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="image-container3">
        <div class="image-container33"></div>
      </div>
    </div>

    <!--  Last Page start -->
    <div class="agency-section-container5">
      <div class="content-wrapper5">
        <div class="image-container7">
          <div class="image-container77"></div>
        </div>
        <div class="text-container5">
          <div class="details-body5">
            <div class="details-header5">
              <h2 class="hero-tagline">Your next big idea starts here</h2>
              <h1>SHALL WE<br/>BEGIN?</h1>
            </div>
            <div class="list1">
              <ul class="details-list-body">
                <li>
                  <strong class="strong">Inspiring Innovation:</strong>
                  Encouraging you to kickstart your next groundbreaking project
                  with us.
                </li>
                <li>
                  <strong class="strong">Collaborative Partnership:</strong>
                  Emphasizing our readiness to co-create and develop your ideas.
                </li>
                <li>
                  <strong class="strong">Supportive Environment:</strong>
                  Offering a platform for brainstorming and turning concepts
                  into action.
                </li>
                <li>
                  <strong class="strong">Vision to Reality:</strong> Guiding you
                  from the initial idea stage to a fully realized solution.
                </li>
                <li>
                  <strong class="strong">Bold Beginning:</strong> Inviting you
                  to embark on an exciting journey of innovation and success.
                </li>
                <li>
                  <strong class="strong">Action-Oriented:</strong> Asking the
                  question, “Shall We Begin?” to prompt immediate action and
                  engagement.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- last page ends-->

    <div class="details3container">
      <div class="details3body">
        <div class="details3header">
          <div class="details3content">
            <h1>FOLLOW MANDIN STUDIOS</h1>
            <div class="icons">
              <a
                href="https://www.instagram.com/mandin_studios/"
                target="_blank"
                ><i class="fa-brands fa-instagram fa-3x"></i
              ></a>
              <a
                href="https://x.com/i/flow/login?redirect_after_login=%2Foliviafinance"
                target="_blank"
                ><i class="fa-brands fa-twitter fa-3x"></i
              ></a>
              <a href="https://www.linkedin.com/in/mdstudios/" target="_blank"
                ><i class="fa-brands fa-linkedin fa-3x"></i
              ></a>
              <a href="https://medium.com/@md-studios" target="_blank"
                ><i class="fa-brands fa-medium fa-3x"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Start -->

    <div class="details11container">
      <div class="details11body">
        <div>
          <a href="/home.html">
            <h1>WHO WE ARE</h1>
          </a>
        </div>

        <div>
          <a href="/components/technologies.html">
            <h1>WHAT WE DO</h1>
          </a>
        </div>

        <div>
          <a href="/components/services.html">
            <h1>WHY US</h1>
          </a>
        </div>

        <div>
          <a href="/components/team.html">
            <h1>TEAM</h1>
          </a>
        </div>

        <div>
          <a href="/components/contact.html">
            <h1>CONTACT</h1>
          </a>
        </div>
      </div>

      <div class="footerimage"><img src="../assets/whitefooter.svg" /></div>
    </div>

    <!--  Back top button -->

    <!-- Back to Top Button with PNG image -->
    <button id="backToTopBtn" onclick="scrollToTop()">
      <img src="/assets/up-arrow-01.png" alt="Back to Top" />
    </button>

    <div class="content"></div>
    <!--  Back top button -->
    <script>
      window.onscroll = function () {
        toggleBackToTopButton();
      };

      function toggleBackToTopButton() {
        const backToTopBtn = document.getElementById("backToTopBtn");
        if (
          document.body.scrollTop > 100 ||
          document.documentElement.scrollTop > 100
        ) {
          backToTopBtn.style.display = "block";
        } else {
          backToTopBtn.style.display = "none";
        }
      }

      // Scroll back to top smoothly
      function scrollToTop() {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      }

      document.addEventListener("DOMContentLoaded", function () {
        const hamburger = document.querySelector(".hamburger");
        const navRight = document.querySelector(".navright");

        hamburger.addEventListener("click", function () {
          hamburger.classList.toggle("active");
          navRight.classList.toggle("active");
        });

        // Close menu when a link is clicked
        document.querySelectorAll(".navitems a").forEach((link) => {
          link.addEventListener("click", () => {
            hamburger.classList.remove("active");
            navRight.classList.remove("active");
          });
        });
      });
      const backToTopBtn = document.getElementById("backToTopBtn");

      function toggleButtonVisibility() {
        if (window.pageYOffset > 300) {
          if (!backToTopBtn.classList.contains("show")) {
            backToTopBtn.classList.add("show");
            setTimeout(() => {
              backToTopBtn.classList.add("fade-in");
            }, 10);
          }
        } else {
          backToTopBtn.classList.remove("fade-in");
          backToTopBtn.classList.add("fade-out");
          setTimeout(() => {
            backToTopBtn.classList.remove("show", "fade-out");
          }, 300);
        }
      }

      function scrollToTop() {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      }

      window.addEventListener("scroll", toggleButtonVisibility);
      backToTopBtn.addEventListener("click", scrollToTop);

      document
        .querySelector(".menu-icon")
        .addEventListener("click", function () {
          this.classList.toggle("active");
          document.querySelector(".navitems").classList.toggle("active");
        });
    </script>
  </body>
</html>
