<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- <link rel="stylesheet" href="../css/tech.css"> -->
    <link rel="stylesheet" href="../css/tech.css">
    <title>MDS Technologies</title>
</head>

<body>

    <div class="navcontainer">
        <div class="navbody">
            <div class="logomain"><a href="/"><img class="logo"
                        src="https://mds-new.s3.ap-south-1.amazonaws.com/logo-01.png" /></a></div>
            <div class="navright" :class="{ 'active': mobileMenuOpen }">
                <ul class="navitems">
                    <li><a href="/home.html">WHO WE ARE</a></li>
                    <li><a class="active" href="/components/technologies.html">WHAT WE DO</a></li>
                    <li><a href="/components/services.html">WHY US</a></li>
                    <li><a href="/components/team.html">TEAM</a></li>
                </ul>
                <button class="navbutton" onclick="location.href='/components/contact.html';">
                    CONTACT US
                </button>
            </div>
        </div>
    </div>

    <div class="services1container">
        <div class="servicemain">
            <div class="services1body">
                <div class="services1content">
                    <h1>YOUR IDEAS <BR />OUR CRAFT</h1>
                    <p>We bring your ideas to life with precision and creativity,<br /> turning vision into expertly
                        crafted
                        results.</p>
                </div>
            </div>
        </div>
        <div class="service-img">
            <div class="image"></div>
        </div>
    </div>




    <div class="services2container">
        <div class="services2body">
            <div class="service-img2">
                <div class="service-img22"></div>
            </div>
            <div class="services2content">
                <div>
                    <h2>WEB <br/> DEVELOPMENT</h2>
                    <h4 class="why">Why Choose Us for Web Development?</h4>
                    <ul class="services-list">
                        <li><strong>Tailored Solutions:</strong> We don't do one-size-fits-all. Every website we build
                            is custom-designed to reflect your brand and business goals.</li>
                        <li><strong>Performance-Driven:</strong> Our websites are built with speed, SEO, and user
                            experience in mind to ensure that your audience stays engaged.</li>
                        <li><strong>Full-Stack Expertise:</strong> From front-end beauty to back-end power, our team
                            covers it all, offering end-to-end development services.</li>
                        <li><strong>Responsive Design:</strong> We ensure your site works seamlessly across all devices,
                            providing a great user experience on desktops, tablets, and mobile.</li>
                        <li><strong>Continuous Support:</strong> Our relationship doesn't end when the website launches.
                            We provide ongoing support and updates to keep your site current and secure.</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>


    <div class="services4container">
        <div class="services4body">
            
            <div class="services4main">
                <div class="services4content">
                    <h2>FINANCE WEB APP DEVELOPMENT</h2>
                    <h3 class="why">Why Choose Us for Finance Web App Development?</h3>
                    <ul class="services-list">
                        <li><strong>Industry Expertise:</strong> We understand the specific needs of the financial
                            sector,
                            from regulatory compliance to security best practices.</li>
                        <li><strong>Security-First Approach:</strong> We integrate advanced security measures, such as
                            encryption and multi-factor authentication, to ensure your financial app is fortified
                            against
                            cyber threats.</li>
                        <li><strong>Real-Time Performance:</strong> Our finance apps are built to process data quickly
                            and
                            reliably, ensuring you and your users can make informed decisions instantly.</li>
                        <li><strong>Regulatory Compliance:</strong> We ensure that your financial app is fully compliant
                            with industry standards, such as PCI DSS, ensuring trust and legal safety.</li>
                        <li><strong>Scalability:</strong> Whether you’re building for a local startup or an
                            international
                            firm, we create solutions that grow with your business.</li>
                    </ul>
                </div>
            </div>
            <div class="service-img3">
                <div class="service-img33"></div>
            </div>

        </div>
    </div>


    <div class="services3container">
        <div class="services3body">
            <div class="service-img23">
                <div class="service-img233"></div>
            </div>
            <div class="services3content">
                <h2>CYBER SECURITY</h2>
                <h4 class="why">Why Choose Us for Cyber Security?</h4>
                <ul class="services-list">
                    <li><strong>Tailored Solutions:</strong> We don't do one-size-fits-all. Every website we build is
                        custom-designed to reflect your brand and business goals.</li>
                    <li><strong>Performance-Driven:</strong> Our websites are built with speed, SEO, and user experience
                        in mind to ensure that your audience stays engaged.</li>
                    <li><strong>Full-Stack Expertise:</strong> From front-end beauty to back-end power, our team covers
                        it all, offering end-to-end development services.</li>
                    <li><strong>Responsive Design:</strong> We ensure your site works seamlessly across all devices,
                        providing a great user experience on desktops, tablets, and mobile.</li>
                    <li><strong>Continuous Support:</strong> Our relationship doesn't end when the website launches. We
                        provide ongoing support and updates to keep your site current and secure.</li>
                </ul>
            </div>
           
        </div>
    </div>



    <div class="services9container">
        <div class="services9body">
            
            <div class="services9content">
                <h2>WEB3 SOLUTIONS </h2>
                <h4 class="why">Why Choose Us for Web3 Development?</h4>
                <ul class="services-list">
                    <li><strong>Pioneers in Blockchain:</strong> Our team has deep expertise in the world of
                        decentralized apps, smart contracts, and blockchain development.</li>
                    <li><strong>Future-Ready Solutions:</strong>We help you navigate the emerging Web3 ecosystem, from
                        developing dApps to creating NFTs, ensuring your business is ready for the next generation of
                        the internet.</li>
                    <li><strong>Custom Smart Contracts:</strong> We develop smart contracts that are tailored to your
                        project’s specific needs, ensuring efficiency, security, and transparency.</li>
                    <li><strong>Security by Design:</strong> We understand the importance of security in decentralized
                        systems and integrate cutting-edge security protocols into every solution. </li>
                    <li><strong>End-to-End Solutions:</strong> From ideation to execution, we provide comprehensive Web3
                        services, including blockchain consulting, development, and ongoing maintenance.</li>
                </ul>
            </div>
            <div class="service-img4">
                <div class="service-img44"></div>
            </div>
        </div>
    </div>



    <div class="services10container">
        <div class="services10body">
            <div class="uiuximage">
                <div class="uiuximage1"></div>
            </div>
            <div class="services10content">
                <div class="services10main">
                    <h2>UI/UX DESIGN</h2>
                    <h4 class="why">Why Choose Us for UI/UX Development?</h4>
                    <ul class="services-list">
                        <li><strong>User-Centered Design:</strong> Focusing on creating intuitive, user-friendly
                            experiences
                            tailored to meet user needs.</li>
                        <li><strong>Responsive Design:</strong> Ensuring the interface adapts seamlessly across devices
                            and
                            screen sizes.</li>
                        <li><strong>Functionality & Usability:</strong> Prioritizing practical features and efficient
                            performance for optimal user satisfaction.</li>
                        <li><strong>Consistency:</strong> Maintaining uniform design elements for a cohesive and
                            familiar
                            experience across the platform.</li>
                        <li><strong>Interaction Design:</strong> Creating engaging and dynamic elements that improve
                            interaction and boost user engagement.</li>
                        <li><strong>User Feedback Integration:</strong> Continuously improving the design based on
                            real-world user feedback and behavior analysis.</li>
                    </ul>
                </div>

            </div>
            
        </div>
    </div>

    <!-- Footer Start -->

    <div class="details3container">
        <div class="details3body">
            <div class="details3header">
                <div class="details3content">
                    <h1>FOLLOW MANDIN STUDIOS</h1>
                    <div class="icons">
                        <a href="https://www.instagram.com/mandin_studios/" target="_blank"><i
                                class="fa-brands fa-instagram fa-3x"></i></a>
                        <a href="https://x.com/i/flow/login?redirect_after_login=%2Foliviafinance" target="_blank"><i
                                class="fa-brands fa-twitter fa-3x"></i></a>
                        <a href="https://www.linkedin.com/in/mdstudios/" target="_blank"><i
                                class="fa-brands fa-linkedin fa-3x"></i></a>
                        <a href="https://medium.com/@md-studios" target="_blank"><i
                                class="fa-brands fa-medium fa-3x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Start -->

    <div class="details11container">
        <div class="details11body">
            <div>
                <a href="/home.html">
                    <h1>WHO WE ARE</h1>
                </a>
            </div>

            <div>
                <a href="/components/technologies.html">
                    <h1>WHAT WE DO</h1>
                </a>
            </div>

            <div>
                <a href="/components/services.html">
                    <h1>WHY US</h1>
                </a>
            </div>

            <div>
                <a href="/components/team.html">
                    <h1>TEAM</h1>
                </a>
            </div>

            <div>
                <a href="/components/contact.html">
                    <h1>CONTACT</h1>
                </a>
            </div>
        </div>

        <div class="footerimage"><img src="../assets/whitefooter.svg" /></div>
    </div>

    <!--  Back top button -->

    <!-- Back to Top Button with PNG image -->
    <button id="backToTopBtn" onclick="scrollToTop()">
        <img src="/assets/up-arrow-01.png" alt="Back to Top">
    </button>

    <div class="content"> </div>
    <!--  Back top button -->
    <script> window.onscroll = function () {
            toggleBackToTopButton();
        };

        function toggleBackToTopButton() {
            const backToTopBtn = document.getElementById("backToTopBtn");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                backToTopBtn.style.display = "block";
            } else {
                backToTopBtn.style.display = "none";
            }
        }

        // Scroll back to top smoothly
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }


        document.addEventListener('DOMContentLoaded', function () {
            const hamburger = document.querySelector('.hamburger');
            const navRight = document.querySelector('.navright');

            hamburger.addEventListener('click', function () {
                hamburger.classList.toggle('active');
                navRight.classList.toggle('active');
            });

            // Close menu when a link is clicked
            document.querySelectorAll('.navitems a').forEach(link => {
                link.addEventListener('click', () => {
                    hamburger.classList.remove('active');
                    navRight.classList.remove('active');
                });
            });
        });
        const backToTopBtn = document.getElementById('backToTopBtn');

        function toggleButtonVisibility() {
            if (window.pageYOffset > 300) {
                if (!backToTopBtn.classList.contains('show')) {
                    backToTopBtn.classList.add('show');
                    setTimeout(() => {
                        backToTopBtn.classList.add('fade-in');
                    }, 10);
                }
            } else {
                backToTopBtn.classList.remove('fade-in');
                backToTopBtn.classList.add('fade-out');
                setTimeout(() => {
                    backToTopBtn.classList.remove('show', 'fade-out');
                }, 300);
            }
        }

        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }

        window.addEventListener('scroll', toggleButtonVisibility);
        backToTopBtn.addEventListener('click', scrollToTop);

        document.querySelector('.menu-icon').addEventListener('click', function () {
            this.classList.toggle('active');
            document.querySelector('.navitems').classList.toggle('active');
        });

    </script>
</body>

</html>